<?xml version="1.0"?>
<FFConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <History>
    <LastResourceDir />
    <LastOpenPrjDir>F:\Project-Team\trunk\MultyPlayerVR\Assets\Resources\Data</LastOpenPrjDir>
    <RecentProjects>
      <string>F:\Project-Team\trunk\MultyPlayerVR\Assets\Resources\Data\Data.ffprj</string>
      <string>H:\Project-Team\trunk\MultyPlayerVR\Assets\Resources\Data\Data.ffprj</string>
      <string>D:\PROJECT\trunk\MultyPlayerVR\Assets\Resources\Data\Data.ffprj</string>
      <string>E:\PROJECT-TEAM\trunk\MultyPlayerVR\Assets\Resources\Data\Data.ffprj</string>
      <string>C:\Users\HoangBao's PC\Desktop\TestProject\TestPr\Assets\Resources\Data\Data.ffprj</string>
    </RecentProjects>
  </History>
</FFConfig>